.container {
  margin-top: 100px;
  font-family: "Rubik";
}

h2 {
  color: #c7912a;;
}

span {
  color: #456AB2;
}

.btn {
  background-color: #456AB2;
  color: white;
}


.new {
  margin-left: 230px;
}

.btn:hover {
  background-color: #C7912A;}

.ng-valid:not(form).ng-touched {
  border-right: 5px solid #42A948;
}
.ng-invalid:not(form).ng-touched {
  border-right: 5px solid #a94442;
}
