<footer class="navbar navbar-fixed-bottom">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <img src="./../../../assets/logoM.svg" alt="logo" width="100px">
      </div>
      <div class="col-sm-10 text-center">
        <div class="row">
          <p> Esta página fue diseñada y creada por Martín Maine como trabajo final de Argentina Programa #YoProgramo. <br>Todas las imagenes, animaciones, logotipos e íconos son creación del autor.
          </p>
        </div>
        <div class="row">
          <div class="redes"><app-redes> </app-redes> </div>
        </div>
      </div>
    </div>
  </div>
</footer>
