* {
  background-color: rgb(221, 221, 221) ;
}

p {
  font-size: small;
  color: white;
  font-family: "Rubik";
}

img {
  opacity: 15%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.row .redes {
  margin-left: 160px;
}

@media screen and (max-width: 1400px) {
  .redes {
    display: none;
  }
}
